<div class="page-header" style="text-align: center;">
  <h1 style="padding-top:50px;">Oops! &nbsp;<small>La página que solicitas no existe.</small></h1>
</div>

<div class="container-fluid">
	<h1>{{message}}</h1>
	<h2>{{error.status}}</h2>
	<pre>{{error.stack}}</pre>
</div>