<div class="container-fluid" ng-controller="controller-materias" style="padding-top:80px;">

<div class="row">
	<div class="container">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
			<label>Filtro de Materias:</label>
			<input type="text" name="" id="input" class="form-control" placeholder="Filtro de Materias" ng-model="filtro_materias">
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="container">
		<div class="table-responsive">
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>Clave de Materia</th>
					<th>Nombre</th>
					<th>Seriación</th>
					<th>Horas Docente</th>
					<th>Horas Independientes</th>
					<th>Créditos</th>
					<th>Instalaciones</th>
					<th>Cuatrimestre</th>
					<th>Carrera</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="materia in materias | filter: filtro_materias">
					<td>{[{materia.MateriaID}]}</td>
					<td>{[{materia.Nombre}]}</td>
					<td>{[{materia.Seriacion}]}</td>
					<td>{[{materia.HorasDoc + " hrs."}]}</td>
					<td>{[{materia.HorasInd + " hrs."}]}</td>
					<td>{[{materia.Creditos}]}</td>
					<td>{[{materia.Instalaciones}]}</td>
					<td>{[{materia.CuatrimestreID}]}</td>
					<td>{[{materia.CarreraID}]}</td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
</div>
	
</div>

<script type="text/javascript">
	var app = angular.module('sicecui', []);
		app.config(function($interpolateProvider) {
		  $interpolateProvider.startSymbol('{[{');
		  $interpolateProvider.endSymbol('}]}');
		});

	app.controller('controller-materias',function($scope,$http) {
		$http.get("/getMaterias")
	    .then(function(response) {
	        $scope.materias = response.data;
	    });
	});
</script>