<div class="container-fluid" style="padding-top:80px;">
	<form action="/insertMaestro" method="POST" role="form">
		<legend>Inscripción de Maestro</legend>
	
		<div class="row">
			<div class="form-group">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<label for="Nombre">Nombre</label>
					<input type="text" class="form-control" id="Nombre" name="Nombre">

					<label for="ApellidoPeterno">Apellido Paterno</label>
					<input type="text" class="form-control" id="ApellidoPeterno" name="ApellidoPeterno">

					<label for="ApellidoMaterno">Apellido Materno</label>
					<input type="text" class="form-control" id="ApellidoMaterno" name="ApellidoMaterno">

					<label for="Email">Correo Electrónico</label>
					<input type="email" class="form-control" id="Email" name="Email">

					<label for="RFC">RFC</label>
					<input type="text" class="form-control" id="RFC" name="RFC">

					<label for="NombreBeneficiario">Nombre Beneficiario</label>
					<input type="text" class="form-control" id="NombreBeneficiario" name="NombreBeneficiario">

					<label for="DireccionBeneficiario">Dirección Beneficiario</label>
					<input type="text" class="form-control" id="DireccionBeneficiario" name="DireccionBeneficiario">

				</div>

				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<label for="CURP">CURP</label>
					<input type="text" class="form-control" id="CURP" name="CURP">

					<label for="municipio">Municipio</label>
					<input type="text" class="form-control" id="municipio" name="municipio">

					<label for="Entidad">Entidad</label>
					<input type="text" class="form-control" id="Entidad" name="Entidad">

					<label for="Direccion">Dirección</label>
					<input type="text" class="form-control" id="Direccion" name="Direccion">

					<label for="Telefono">Teléfono</label>
					<input type="text" class="form-control" id="Telefono" name="Telefono">
					
					<button type="submit" class="btn btn-primary pull-right" style="margin-top: 20px;">Inscribir</button>
				</div>
			</div>
		</div>
	</form>
</div>