<div class="container" style="padding-top: 80px;" ng-controller="controller-modificaAlumno">
	<div class="page-header">
	  <h1>Modificación&nbsp;<small>Alumnos</small></h1>
	</div>

	<!-- SECCION PARA FILTRO DE ALUMNO -->
	<div class="row">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<label>Filtro: </label>
			<input type="text" name="" id="" class="form-control" placeholder="Carrera" ng-model="FiltroCarrera" >
		</div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			<label>Elegir alumno: </label>
			<select class="form-control" ng-change="AlumnoSelected()" ng-model="OptionSelected">
				<option ng-repeat="alumno in alumnos | filter: FiltroCarrera" value="{[{alumno.PersonaID}]}">{[{alumno.Nombre + " " + alumno.ApellidoPeterno + " " + alumno.ApellidoMaterno + "  |  " + alumno.NombreCarrera}]}</option>
			</select>
		</div>
	</div>

	<!-- SECCION PARA LLENAR DATOS A MODIFICAR -->
	<div class="row" style="padding-bottom: 50px;" ng-if="persona != null">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<form action="/updateAlumno" method="POST" role="form">
				<div class="form-group">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<label>ID de Alumno</label>
						<input type="text" class="form-control has-success" id="PersonaID" name="PersonaID" value="{[{persona.PersonaID}]}" readonly="readonly">

						<label for="Nombre">Nombre</label>
						<input type="text" class="form-control" id="Nombre" name="Nombre" value="{[{persona.Nombre}]}">

						<label for="ApellidoPeterno">Apellido Paterno</label>
						<input type="text" class="form-control" id="ApellidoPeterno" name="ApellidoPeterno" value="{[{persona.ApellidoPeterno}]}">

						<label for="ApellidoMaterno">Apellido Materno</label>
						<input type="text" class="form-control" id="ApellidoMaterno" name="ApellidoMaterno" value="{[{persona.ApellidoMaterno}]}">

						<label for="Email">Correo Electrónico</label> 
						<input type="email" class="form-control" id="Email" name="Email" value="{[{persona.Email}]}">

						<label for="CarreraID">Carrera</label>
						<select class="form-control" id="CarreraID" name="CarreraID"  required="required">
							<option ng-repeat="carrera in Carreras" value="{[{carrera.CarreraID}]}" ng-selected="CarreraRes == carrera.CarreraID">{[{carrera.Nombre}]}</option>
						</select>

						<label for="CuatrimestreID">Cuatrimestre</label>
						<select class="form-control" id="CuatrimestreID" name="CuatrimestreID">
							<option value="1" ng-selected="1 == CuatrimestreRes">PRIMER CUATRIMESTRE</option>
							<option value="2" ng-selected="2 == CuatrimestreRes">SEGUNDO CUATRIMESTRE</option>
							<option value="3" ng-selected="3 == CuatrimestreRes">TERCER CUATRIMESTRE</option>
							<option value="4" ng-selected="4 == CuatrimestreRes">CUARTO CUATRIMESTRE</option>
							<option value="5" ng-selected="5 == CuatrimestreRes">QUINTO CUATRIMESTRE</option>
							<option value="6" ng-selected="6 == CuatrimestreRes">SEXTO CUATRIMESTRE</option>
							<option value="7" ng-selected="7 == CuatrimestreRes">SEPTIMO CUATRIMESTRE</option>
							<option value="8" ng-selected="8 == CuatrimestreRes">OCTAVO CUATRIMESTRE</option>
							<option value="9" ng-selected="9 == CuatrimestreRes">NOVENO CUATRIMESTRE</option>
							<option value="10" ng-selected="10 == CuatrimestreRes">DÉCIMO CUATRIMESTRE</option>
						</select>

					</div>

					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<label for="CURP">CURP</label>
						<input type="text" class="form-control" id="CURP" name="CURP" value="{[{persona.CURP}]}">

						<label for="municipio">Municipio</label>
						<input type="text" class="form-control" id="municipio" name="municipio" value="{[{persona.municipio}]}">

						<label for="Entidad">Entidad</label>
						<input type="text" class="form-control" id="Entidad" name="Entidad" value="{[{persona.Entidad}]}">

						<label for="Direccion">Dirección</label>
						<input type="text" class="form-control" id="Direccion" name="Direccion" value="{[{persona.Direccion}]}">

						<label for="Telefono">Teléfono</label>
						<input type="text" class="form-control" id="Telefono" name="Telefono" value="{[{persona.Telefono}]}">

						<label for="Trabaja">Trabaja?</label>
						<select class="form-control" id="Trabaja" name="Trabaja">
							<option value="SI">SI</option>
							<option value="NO">NO</option>
						</select>

						<label for="StatusAlumno">Status</label>
						<select class="form-control" id="StatusAlumno" name="StatusAlumno">
							<option ng-repeat="item in status" value="{[{item.StatusID}]}" ng-selected="Status == item.StatusID">{[{item.Nombre}]}</option>
						</select>

						<button type="submit" class="btn btn-primary pull-right" style="margin-top: 20px;">Modificar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- SCRIPT PARA ANGULAR-->
<script type="text/javascript">
	var app = angular.module('sicecui', []);
	app.config(function($interpolateProvider) {
	  $interpolateProvider.startSymbol('{[{');
	  $interpolateProvider.endSymbol('}]}');
	});

	app.controller('controller-modificaAlumno',function($scope,$http) {
		
		$http.get("/getAlumnos").then(function(response) {
	        $scope.alumnos = response.data;
	    });

	    $http.get("/getStatus").then(function(response) {
	        $scope.status = response.data;
	    });

	    $http.get("/getCarreras").then(function(response) {
	        $scope.Carreras = response.data;
	    });

	    $scope.AlumnoSelected = function(){
			$http.get("/getPersonaAlumno?id="+$scope.OptionSelected).then(function(response) {
		        $scope.persona = response.data[0];
		        $scope.Status = response.data[0].StatusID;
		        $scope.CuatrimestreRes = response.data[0].CuatrimestreID;
		        $scope.CarreraRes = response.data[0].CarreraID;
		    });
		};
	});
</script>